# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
front-end/node_modules

# testing
coverage

# production
front-end/build

# misc
.DS_Store
.env
npm-debug.log
.idea