@import "modularscale";

$modularscale: (
		base: 14pt,
		ratio: 1.6
);
$header-text-font: "Lato", Helvetica, Arial, sans-serif;
$body-text-font: $header-text-font;
$colour-100: #292A38;
$colour-200: #4A4C64;
$colour-300: rgb(136, 137, 153);
$colour-400: rgb(200, 201, 208);
$colour-500: rgb(241, 241, 243);
$accent-colour: #D34242;
$accent-colour-light: #d44545;
$shadow-colour: rgba(0, 0, 0, 0.16);
$font-colour: $colour-200;
$accent-font-colour: $colour-400;
$header-weight: 900;
$font-weight: 400;
//$font-size: ms(0);
$leading-factor: 1.6;

body {
  margin: 0;
}

main {
  background-color: $colour-400;
  height: 100vh;

  .content {
	margin: auto #{ms(1) * .5} auto #{ms(1) * .5};
  }

  div.fullPage {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }

  .card {
	background-color: $colour-500;
	box-shadow: 0 3px 28px 0 $shadow-colour;
	border: none;
  }

  .center {
	margin: 0;
  }

  #idCard {
	width: 100vw;
	height: calc(100vh - (1.25rem * 3));
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	.content {
	  margin: ms(1);
	}

	#left {
	  width: 100vw;
	  height: 53vh;
	  background: url("//content.chasehaddleton.com/images/selfie-2.jpg") no-repeat center;
	  background-size: cover;
	}

	#right {
	  display: flex;
	  width: 100vw;
	  height: 100%;
	}
  }

  #photoCard {
	width: 100vw;
	height: calc(100vh - (1.25rem * 3));
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	.content {
	  margin: ms(1);
	}

	#left, #right {
	  width: 100vw;
	}

	#left > .content {
	  margin-bottom: 0;
	}

	div.links {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  flex-wrap: wrap;
	}

	img {
	  width: calc(100vw - #{ms(1)* 2});
	  padding-bottom: #{ms(1) * .5};
	}
  }

  #projectCard {
	width: 100vw;
	height: calc(100vh - (1.25rem * 3));
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	.content {
	  margin: ms(1);
	}

	#top {
	  width: 100vw;
	}

	#top > .content {
	  margin-bottom: 0;
	}
  }

  #footer {
	background-color: $colour-500;
	width: 10vw;
	min-width: calc(2.25rem * 6.5 + 4rem);
	height: calc(1.25rem * 2);
	margin: calc(1.25rem * -2) auto;
	display: flex;

	.content {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  margin: auto 0 auto 1rem;
	  padding-right: 1rem;
	}

	#left {
	  min-width: calc(2.25rem * 3);
	  border-right: solid $colour-100 1px;
	}

	#right {
	  min-width: calc(2.25rem * 3.5);
	}

	.fa {
	  color: $colour-200;
	  font-size: 1.4rem;
	}

	.fa-camera {
	  font-size: 1.2rem;
	  padding-top: 0.12rem;
	}

	a.selected > i.fa {
	  color: $accent-colour;
	}
  }

  h2 {
	font-size: ms(2);
	line-height: #{ms(1) * 2};
	padding-bottom: #{ms(1) * .5};
  }

  p {
	font-family: $body-text-font;
	color: $font-colour;
	font-weight: $font-weight;
	line-height: ms(1);
	font-size: ms(0);
	padding-bottom: ms(1);
  }

  h1, h2, h3, h4, h5, h6 {
	font-family: $header-text-font;
	font-weight: $header-weight;
	color: $font-colour;
  }

  h3 {
	font-size: ms(1);
	line-height: ms(2);
  }

  a {
	font-family: $body-text-font;
	text-decoration: none;
	font-weight: 600;
	color: $colour-200;
  }

  p a, .header > a > h3 {
	color: $colour-300;
  }

  a.selected {
	color: $accent-colour;
  }

  a:active, a:hover {
	color: $colour-200;
  }

  div.links > div > a {
	font-size: ms(0);
	line-height: calc(#{ms(1)});
  }

  button {
	font-family: $body-text-font;
	color: $colour-500;
	background-color: $colour-300;
	border: none;
	font-size: 12pt;
	line-height: ms(1);
	padding: calc(12pt * #{$leading-factor} * .25) calc(12pt * #{$leading-factor} * .5) calc(12pt * #{$leading-factor} * .25) calc(12pt * #{$leading-factor} * .5);
	margin-bottom: calc(12pt * #{$leading-factor});
  }

  button:hover, button:active {
	box-shadow: 0 3px 14px 0 $shadow-colour;
	background-color: $colour-100;
  }
}

@media only screen and (min-width: 900px) {
  main {
	.center {
	  margin: auto;
	}

	#idCard {
	  height: 76vh;
	  width: 100vw;
	  flex-direction: row;

	  .content {
		margin: auto #{ms(1) * 2} auto #{ms(1) * 2};
	  }

	  #left {
		width: 34vw;
		height: 76vh;
	  }

	  #right {
		width: 66vw;
	  }
	}

	#photoCard {
	  height: 76vh;
	  display: flex;
	  flex-direction: row;
	  overflow-y: hidden;
	  overflow-x: scroll;
	  white-space: nowrap;

	  .content {
		margin: #{ms(1) * 2};
	  }

	  #left {
		width: 15vw;
		min-width: 280px;
		height: 76vh;
	  }

	  #left > .content {
		margin-bottom: #{ms(1) * 2};
	  }

	  div.links {
		display: inherit;
	  }

	  img {
		height: calc(76vh - #{ms(1) * 4});
		width: auto;
		padding-right: ms(1);
		padding-bottom: 0;
	  }
	}

	#projectCard {
	  height: 76vh;
	  overflow-y: hidden;
	  overflow-x: scroll;
	  white-space: nowrap;

	  .content {
		margin: #{ms(1) * 2};
	  }

	  #bottom {
		display: flex;
		flex-direction: row;
	  }

	  div.project {
		width: 33vw;
		height: calc(76vh - #{ms(1) * 4});
		white-space: normal;
		padding-right: #{ms(1) * 2};
	  }
	}

	button {
	  margin-bottom: 0;
	}
  }
}

@media only screen and (min-width: 1400px) {
  main {
	#idCard {
	  width: 78vw;
	  height: 62vh;

	  #left {
		width: 26vw;
		height: 62vh;
	  }

	  #right {
		width: 52vw;
	  }
	}
  }
}

@media only screen and (min-width: 1900px) {
  main {
	#idCard {
	  width: 70vw;
	  height: 53vh;
	  flex-direction: row;

	  #left {
		width: 26vw;
		height: 53vh;
	  }

	  #right {
		width: 44vw;
	  }
	}
  }
}