$header-text-font: "Lato", Helvetica, Arial, sans-serif;
$body-text-font: $header-text-font;
$colour-100: #292A38;
$colour-200: #4A4C64;
$colour-300: rgb(136, 137, 153);
$colour-400: rgb(200, 201, 208);
$colour-500: rgb(241, 241, 243);
$accent-colour: #D34242;
$accent-colour-light: #d44545;
$shadow-colour: rgba(0, 0, 0, 0.16);
$font-colour: $colour-200;
$accent-font-colour: $colour-400;
$header-weight: 900;
$font-weight: 400;

body {
  margin: 0;
}

main {
  background-color: $colour-400;
  height: 100vh;

  .content {
	margin: auto 3.5rem auto 3.5rem;
  }

  div.fullPage {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }

  .card {
	background-color: $colour-500;
	box-shadow: 0 3px 28px 0 $shadow-colour;
	border: none;
  }

  .center {
	margin: 0;
  }

  #idCard {
	width: 100vw;
	height: calc(100vh - (1.25rem * 3));
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	.content {
	  margin: 1.5rem;
	}

	#left {
	  width: 100vw;
	  height: 53vh;
	  background: url("//content.chasehaddleton.com/images/selfie-2.jpg") no-repeat center;
	  background-size: cover;
	}

	#right {
	  display: flex;
	  width: 100vw;
	  height: 100%;
	}
  }

  #photoCard {
	width: 100vw;
	height: calc(100vh - (1.25rem * 3));
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	.content {
	  margin: 1.5rem;
	}

	#left {
	  width: 100vw;
	}

	#left > .content {
	  margin-bottom: 0;
	}

	div.links {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  flex-wrap: wrap;
	}

	img {
	  width: calc(100vw - 3rem);
	}
  }

  #projectCard {
	width: 100vw;
	height: calc(100vh - (1.25rem * 3));
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	.content {
	  margin: 1.5rem;
	}

	#top {
	  width: 100vw;
	}

	#top > .content {
		margin-bottom: 0;
	}
  }

  #footer {
	background-color: $colour-500;
	width: 10vw;
	min-width: calc(2.25rem * 6.5 + 4rem);
	height: calc(1.25rem * 2);
	margin: calc(1.25rem * -2) auto;
	display: flex;

	.content {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  margin: auto 0 auto 1rem;
	  padding-right: 1rem;
	}

	#left {
	  min-width: calc(2.25rem * 3);
	  border-right: solid $colour-100 1px;
	}

	#right {
	  min-width: calc(2.25rem * 3.5);
	}

	.fa {
	  color: $colour-200;
	  font-size: 1.4rem;
	}

	.fa-camera {
	  font-size: 1.2rem;
	  padding-top: 0.12rem;
	}

	a.selected > i.fa {
	  color: $accent-colour;
	}
  }

  h1 {
	font-size: 60pt;
	padding-bottom: 0.25rem;
  }

  h2 {
	font-size: 40pt;
  }

  p {
	font-family: $body-text-font;
	color: $font-colour;
	font-weight: $font-weight;
	font-size: 13pt;
	line-height: 135%;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
  }

  h1, h2, h3, h4, h5, h6 {
	font-family: $header-text-font;
	font-weight: $header-weight;
	color: $font-colour;
  }

  a {
	font-family: $body-text-font;
	text-decoration: none;
	font-weight: 600;
	color: $colour-200;
  }

  p a {
	color: $accent-colour;
  }

  a.selected {
	color: $accent-colour;
  }

  button {
	font-family: $body-text-font;
	color: $colour-500;
	background-color: $accent-colour;
	border: none;
	font-size: 1rem;
	margin-top: 0.75rem;
	padding: .5rem 1rem .5rem 1rem;
	margin-bottom: 1.5rem;
  }

  button:hover, button:active {
	box-shadow: 0 3px 14px 0 $shadow-colour;
	background-color: $accent-colour-light;
  }
}

@media only screen and (min-width: 1024px) {
  main {
	.center {
	  margin: auto;
	}

	#idCard {
	  width: 83vw;
	  height: 66vh;
	  flex-direction: row;

	  .content {
		margin: auto 2.5rem auto 2.5rem;
	  }

	  #left {
		width: 26vw;
		height: 66vh;
	  }

	  #right {
		width: 57vw;
	  }
	}

	#photoCard {
	  height: 76vh;
	  display: flex;
	  flex-direction: row;
	  overflow-y: hidden;
	  overflow-x: scroll;
	  white-space: nowrap;

	  .content {
		margin: 3.5rem;
	  }

	  #left {
		width: 15vw;
		min-width: 280px;
		height: 76vh;
	  }

	  #left > .content {
		margin-bottom: 3.5rem;
	  }

	  div.links {
		display: inherit;
	  }

	  img {
		height: calc(76vh - 7rem);
		width: auto;
		padding-right: 3.5rem;
	  }
	}

	#projectCard {
	  height: 76vh;
	  overflow-y: hidden;
	  overflow-x: scroll;
	  white-space: nowrap;

	  .content {
		margin: 3.5rem;
	  }

	  #bottom {
		display: flex;
		flex-direction: row;
	  }

	  div.project {
		width: 20vw;
		height: calc(76vh - 7rem);
		white-space: normal;
		padding-right: 3.5rem;
	  }
	}

	button {
	  margin-bottom: 0;
	}
  }
}

@media only screen and (min-width: 1424px) {
  main {
	.center {
	  margin: auto;
	}

	#idCard {
	  width: 78vw;
	  height: 62vh;
	  flex-direction: row;

	  .content {
		margin: auto 3rem auto 3rem;
	  }

	  #left {
		width: 26vw;
		height: 62vh;
	  }

	  #right {
		width: 52vw;
	  }
	}

	button {
	  margin-bottom: 0;
	}
  }
}

@media only screen and (min-width: 1750px) {
  main {
	.center {
	  margin: auto;
	}

	#idCard {
	  width: 70vw;
	  height: 53vh;
	  flex-direction: row;

	  .content {
		margin: auto 3.5rem auto 3.5rem;
	  }

	  #left {
		width: 26vw;
		height: 53vh;
	  }

	  #right {
		width: 44vw;
	  }
	}

	#photoCard {
	  height: 76vh;
	  display: flex;
	  flex-direction: row;
	  overflow-y: hidden;
	  overflow-x: scroll;
	  white-space: nowrap;

	  .content {
		margin: 3.5rem;
	  }

	  #left {
		width: 15vw;
		min-width: auto;
		height: 76vh;
	  }

	  #left > .content {
		margin-bottom: 3.5rem;
	  }

	  div.links {
		display: inherit;
	  }

	  img {
		height: calc(76vh - 7rem);
		width: auto;
		padding-right: 3.5rem;
	  }
	}

	#projectCard {
	  height: 76vh;
	  overflow-y: hidden;
	  overflow-x: scroll;
	  white-space: nowrap;

	  .content {
		margin: 3.5rem;
	  }

	  #bottom {
		display: flex;
		flex-direction: row;
	  }

	  div.project {
		width: 20vw;
		height: calc(76vh - 7rem);
		white-space: normal;
		padding-right: 3.5rem;
	  }
	}

	h1 {
	  font-size: 80pt;
	}

	h2 {
	  font-size: 45pt;
	}

	p {
	  font-size: 14pt;
	}

	button {
	  margin-bottom: 0;
	}
  }
}